<tr class="candidates-list">
  <td class="title">
    <div class="thumb">
      <img class="img-thumbnail w-25 h-25" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
    </div>
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <div class="candidate-list-title">
          <h5 class="mb-0"><a href="#"><%= full_name user %></a></h5>
        </div>
      </div>
    </div>
  </td>
  <td>
    <ul class="list-unstyled mb-0 d-flex text-lg-center">
      <li>
        <%= link_to "View", user_path(user), class: "btn btn-sm btn-outline-info" %>
        <i class="far fa-eye"></i>
      </li>
      <li>
        <%= link_to "edit", edit_user_path(user), class: "btn btn-sm btn-outline-primary"%>
        <i class="fas fa-pencil-alt"></i>
      </li>
      <li>
        <%= link_to "delete", user_path(user), method: :delete, data: {confirm: 'Are you sure you want to delete this user?'}, class: "btn btn-sm btn-outline-danger"%>
        <i class="fas fa-pencil-alt"></i>
      </li>
    </ul>
  </td>
</tr>