<%= provide(:title, "Add User") %>

<div class="container">
  <div class="row d-flex justify-content-center min-vh-100">
    <div class="col-sm-6">
      <h1 class ="text-lg-center">Add User</h1>
      <div class="card">
        <div class="card-body">
          <div class="row gutters">
            <div class="row-col-sm-auto">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <%= form_with(model: @user, local: true) do |f| %>
              <%= render 'form', f: f %>
              <div class="row gutters">
                <div class="row-cols-sm-auto p-4">
                  <div class="text-lg-center">
                    <%= f.submit "Add", class: "btn btn-sm btn-primary", value: "Add" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
