<%= form_with(model: @student, method: 'get', class: "form-inline", local: true) do |f| %>
  <div class="d-flex d-inline">
    <%= f.select :filter, grouped_options_for_select(Student.search_options), class: 'form-select' %>
    <%= f.text_field :keyword, class: "form-control p-1", placeholder: "Enter your search keyword" %>
    <%= f.button class:"btn btn-primary m-auto p-2" do %>
        <i class="bi bi-search"></i>
    <% end %>
  </div>
<% end %>