<%= form_with(model: @user, method: 'get', class: "form-inline", local: true) do |f| %>
  <div class="d-flex d-inline">
    <%= f.text_field :keyword, class: "form-control p-1", placeholder: "Search user" %>
    <%= f.button class:"btn btn-primary m-auto p-2" do %>
        <i class="bi bi-search"></i>
    <% end %>
  </div>
<% end %>