@import "~bootstrap/scss/bootstrap";

.navbar {
  .navbar-nav {
    .nav-link {
      padding: 1em 0.7em;
      transition: all 0.5s;
    }
  }
  .navbar-brand {
    padding: 0 0.6em;
  }
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
    .navbar-nav {
      .nav-link {
        padding: 1em 0.7em;
      }
    }
    .navbar-brand {
      padding: 0 0.8em;
    }
  }
}