<footer class="bg-light text-center fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5 class="text-uppercase">Philippine Countryville College, Inc.</h5>
        <p>
          Sayre Highway, Panadtalan, Maramag, Bukidnon
        </p>
      </div>
      <div class="col-sm">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2023 Copyright
        </div>
      </div>

    </div>
  </div>
</footer>