<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="container p4">
    <h5 class="text-uppercase">Philippine Countryville College, Inc.</h5>
    <p>
      Sayre Highway, Panadtalan, Maramag, Bukidnon
    </p>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
    </div>
    <!-- Copyright -->
</footer>